:root{
  --primary-color: rgba(22, 161, 80, 0.797);
  --border-radius: 50px;
}


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  font-family: "Montserrat";
}

h1{
  color:#fff;
  padding:20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  cursor: pointer;
  text-transform: capitalize;
  margin: 40px auto 15px;
  user-select: none;
  width: 300px;
  text-align: center;
  font-family: "Montserrat";
  text-shadow: 2px 3px 0px #898999;
  font-weight: 900;
}

h1:hover{
  background:rgba(0, 0, 0, 0.8)
}

.bookmark-title{
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 40px 10px;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin:0 auto;
  width:73%;
}

.item{
  background: rgba(255, 255, 255, 0.637);
  color:#fff;
  border-radius: 24px;
  padding: 10px;
  margin:10px;

}

.item:hover{
  background: rgba(255, 255, 255, 0.2)
}



a {
  font-size: 16px;
  font-weight: 900;
  text-transform:capitalize;
  text-decoration: none;

}

a:link, a:visited{
  color:#fff;
  text-decoration:none;
}

a:hover, a:active{
  text-decoration: underline;
}

.fa-xmark{
  float: right;
  cursor: pointer;
  z-index: 2;
}

.fas{
  float:right;
}

.name{
  margin-top: 0px auto;
  margin-right: 5px;
  text-align: center;
}

.name img{
  height: 25px;
  width:25px;
  margin-right:5px;
  vertical-align:middle;
}



/*Modal*/


.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.show-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  background:#fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopen 2s;
  border-radius: 28px 28px 0px 0px;
}


.close-icon{
  float:right;
  color:#fff;
  font-size:24px;
  position:relative;
  top:13px;
  right:16px;
  cursor: pointer;
}

.modal-header{
  background: rgba(22, 161, 80, 0.797);
  color: #fff;
  padding: 15px;
  border-radius: 28px 28px 0px 0px;
  text-align:center;
}

h3{
  margin:0;
}

.modal-content{
  padding:20px;
  background:whitesmoke;
  display:block;
  outline:none;
}

.form-label{
   color: #000;
   display:block;
}

button{
  cursor:pointer;
  color:#fff;
  background:rgba(22, 161, 80, 0.797);
  height:30px;
  width: 150px;
  border:none;
  border-radius: 50px;
  margin-top: 10px;
  font-family: "Montserrat";
  font-size: 16px;
}

.button:hover{
  filter: brightness(120%);
}

.button:focus{
  outline: none;
}

/*Form */

.form-group{
  height:55px;
  padding-bottom: 10px;
  
}

.form-input{
  width: 97%;
  padding: 5px 8px;
  border: 1px solid rgba(22, 161, 80, 0.797);
  border-radius: var(--border-radius);
  font-family: "Montserrat";
  font-size:15px;
} 

.form-label{
  padding-bottom:5px;
 
}


/*SVG css */

svg {
  width: 80vw;
  position: relative;
  top: 30vh;
  left: 50vw;
  max-width: 430px;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
  filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
}
svg path {
  cursor: pointer;
  -webkit-animation: blob 2s infinite forwards;
          animation: blob 2s infinite forwards;
  transform-origin: 50% 50%;
}
svg path:hover {
  fill: #fafafa;
}
svg text {
  font-size: 35px;
}

@-webkit-keyframes blob {
  25% {
    d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
    transform: rotate(-5deg);
  }
  50% {
    d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
  }
  75% {
    d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
    transform: rotate(5deg);
  }
}

@keyframes blob {
  25% {
    d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
    transform: rotate(-5deg);
  }
  50% {
    d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
  }
  75% {
    d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
    transform: rotate(5deg);
  }
}

@keyframes modalopen{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}


@media screen and (max-width: 600px) {
  .container{
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;

  }  
}